# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# temporary files that are auto-ignored.

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Downloaded chart dependencies (reduces release secret size)
charts/*.tgz
